*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui;
    color: #000;
}
header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
li{
    list-style: none;
}
.menu-bar{
    height: 100px;
    border-top: 2px;
    border-style: ridge;
}
.menu-ba-container{
    color: #000;
}
img{
    text-align: right;
}nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
 }
nav ul li input{
    border-radius: 5px ;
}
h2{
    text-align: center;
    color: #000;
    text-decoration: none;
    background-color: #CFD3CB;
    line-height: 60px;
    height: 60px;
}
/*-----------submenu1------------------*/
.submenu1{
    color: #333;
    position: absolute;
    background-color: #FFFFFF;
    width: 170px;
    height: auto;
    display: none;
    left: 335px;
}
.submenu1 ul {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    left: 0;
    top: 100%;
    padding: 20px;

}
.submenu1 ul li {
    padding: 10px 0;
}
.submenu1 ul li a{
    color: #000;
}
.menu-ba-container ul li:hover .submenu1{
    display: block;
    background-color: aliceblue;
    border-radius: 5px;
}
.submenu1 ul li:hover a {
    color: #CBB16A;
    background: none;
}
/*--------------submenu2---------------------*/
.submenu2{
    color: #333;
    position: absolute;
    background-color: #FFFFFF;
    width: 170px;
    height: auto;
    display: none;
    left: 432px;
  
}
.submenu2 ul {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    left: 0;
    top: 100%;
    padding: 20px;

}
.submenu2 ul li {
   
    padding: 10px 0;
   
}
.submenu2 ul li a{
    color: #000;
}
.menu-ba-container ul li:hover .submenu2{
    display: block;
    background-color: aliceblue;
    border-radius: 5px;
}
.submenu2 ul li:hover a {
    color: #CBB16A;
    background: none;
}
/*-----------------submenu3--------------------*/
.submenu3{
    color: #333;
    position: absolute;
    background-color: #FFFFFF;
    width: 170px;
    height: auto;
    display: none;
    left: 555px;
}
.submenu3 ul {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    left: 0;
    top: 100%;
    padding: 20px;

}
.submenu3 ul li {
    padding: 10px 0;
}
.submenu3 ul li a{
    color: #000;
}
.menu-ba-container ul li:hover .submenu3{
    display: block;
    background-color: aliceblue;
    border-radius: 5px;
}
.submenu3 ul li:hover a {
    color: #CBB16A;
    background: none;
}
/*-------------------submenu4---------------------*/
.submenu4{
    color: #333;
    position: absolute;
    background-color: #FFFFFF;
    width: 170px;
    height: auto;
    display: none;
    left: 690px;
}
.submenu4 ul {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    left: 0;
    top: 100%;
    padding: 20px;

}
.submenu4 ul li {
    padding: 10px 0;
}
.submenu4 ul li a{
    color: #000;
}
.menu-ba-container ul li:hover .submenu4{
    display: block;
    background-color: aliceblue;
    border-radius: 5px;
}
.submenu4 ul li:hover a {
    color: #CBB16A;
    background: none;
}/*------------submenu-----------------*/

/*----------------submenu5--------------------*/
.submenu5{
    color: #333;
    position: absolute;
    background-color: #FFFFFF;
    width: 170px;
    height: auto;
    display: none;
    left: 1321px;
}
.submenu5 ul {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    left: 0;
    top: 100%;
    padding: 20px;

}
.submenu5 ul li {
    padding: 10px 0;
}
.submenu5 ul li a{
    color: #000;
}
.menu-ba-container ul li:hover .submenu5{
    display: block;
    background-color: aliceblue;
    border-radius: 5px;
}
.submenu5 ul li:hover a {
    color: #CBB16A;
    background: none;
}
/*--------------------slider-bar-now-colum2----------------------*/
.slider-bar-now-colum2-item-1{
    width: 50%;
    padding: 20px;
    cursor: pointer; /*--------di chuột đổi----------*/
    display: -webkit-inline-flex;
}
.slider-bar-now-colum2-item-1 img{
    width: 100%;
    object-fit: cover;
}.slider-bar-now-colum2-item-1-text li{
    text-align:center;
    color: #000;
    text-decoration: none;
    size: 15px;
    line-height: 40px;
    height: 20px;
}.slider-bar-now-colum2-item-1-text2 img {
    text-align: end;
    width: 200%;
    padding: 20px;
    margin: 20px;
    object-fit: cover;
}.slider-bar-now-colum2-item-1-text2 img:hover{
    display: block;
    transform: scale(2);/*di chuột vào phóng to ảnh*/
    border-radius: 30px;
}.slider-bar-now-colum3-item{
    height: 50px;
    line-height: 60px;
    text-align: left;
    margin: 20px;
}.slider-bar-now-colum3-item button{
    text-align: justify;
    width: 100%;
    text-align: center;
}/*------------------------------------------*/
.product-gallrey-1-container{
    margin: 0 76px;
}
.product-gallrey-1{
    top: 7000px;
}
.product-gallrey-1-container-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-gallrey-1-container-product-1{
    width: 20%;
    padding: 20px;
    cursor: pointer;
}
.product-gallrey-1-container-product-1 img{
    width: 100%;
}.product-gallrey-1-container-product-1-text li{
    text-align:left;
    color: #8A8A8F;
    text-decoration: none;
    size: 15px;
    line-height: 20px;
    height: 20px;
}
.product-gallrey-1-container-product-1{
    padding-top: 20px;
}
.product-gallrey-1-container-product-1 li{
    margin-bottom: 6px;
    line-height: 35px;
}
.product-gallrey-1-container-product-1 li:first-child{
    height: 30px;
    width: 130px;

}.product-gallrey-1-container-product-1-text ul li:hover .submenu{
    display: block;
}
.submenu ul li:hover a {
    color: #CBB16A;
    background: none;
}
.product-gallrey-1-container-product-1 a{
    position: relative;
    display: block;
}.product-gallrey-1-container-product-1 a .name{
    position: absolute;
    color: #000;
    font-weight: bold;/*in đâm*/
    width: 100%;
    height: 60px;
    background-color: rgba(0, 166, 255, 0.441);
    font-size: 20px;
    opacity: 0;/* ẩn ảnh*/
    text-align: center;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
    bottom: 20%;
}.product-gallrey-1-container-product-1 a:hover .name{
    opacity: 1;
}
.salebackground img{
    width: 97%;
    height: 80%;
    object-fit: cover;
    border-radius: 40px;
    margin: 25px;
}
/*------------------------------------------*/
.fage-footer-container-now{
    display: flex;
    justify-content: space-between;
    margin: 0 55px;
    padding: 20px 16px 38px;
    border: 1px solid #CFD3CB;
}
.fage-footer{
    width: 25%;
    padding: 20px;
    line-height: 30px;
    height: 20px;
    margin: 0 50px;
}.footer-link{
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'SVN-GothamBook',sans-serif;
}
.fage-footer-container-now-colum2-item {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'SVN-GothamBook',sans-serif;
    color: #000;
}
.fage-footer-container-now-colum4-item .footer-links h4{
    color: #000;
}.fage-footer-container-now-colum3-item {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'SVN-GothamBook',sans-serif;
}
.admin{
    text-align: center;
    color: #000;
    text-decoration: none;
    background-color: #CFD3CB;
    line-height: 60px;
    height: 60px;
}
.admin .submenu6:hover ul li a{
    color: #5A75C2;
}.slider-bar-now{
    margin: 70px;
    display: flex;
}.slider-bar-now-colum1-item{
    border: 1px solid #CFD3CB;
    margin: 20px ;
    padding: 30px;
}
.slider-bar-now-colum1-item h1 a{
    color: #000;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;

}.slider-bar-now-colum1-item ul li a{
    color: #000;
   line-height: 50px;
   
}